################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CleanArchMvc/CleanArchMvc.WebUI/appsettings.Development.json
/CleanArchMvc/CleanArchMvc.WebUI/appsettings.json
